<form method="post" action="/quizzes/<%= quizId %>/comments">
  <label for="comment">Añadir comentario:</label>
  <input type="text" id="comment" name="comment[texto]" placeholder="Escriba aquí..." required autofocus />
  <button type="submit" class="btn-sm">Enviar</button>
</form>
