<p>Proyecto Quiz<span> correspondiente al curso en MiriadaX:<br>
<strong>"Desarrollo de servicios en la nube con HTML5, Javascript y node.js"</strong><br>
de la Universidad Politécnica de Madrid</span></p>
<p><strong>AUTOR:</strong> Salvador Adrián Fuentes</p>
