<!DOCTYPE html>
<html lang="es">
  <head>
    <meta name="utf-8"/>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <p>Un portal donde podrá crear sus propios juegos!</p>
  </body>
</html>
