body {
  background: #333;
}
#page-wrap:after {
  content: "Smartphone Layout";
  font-size: 12px;
  display: block;
  text-align: center;
}
.mobile {
  display: none;
}
body {
  font-size: large;
}
footer,
input {
  font-size: large;
}
footer > a {
  display: block;
  width: 100%;
  padding: 5px 0; 
}
.boton {
  width: 240px;
}
p > strong::after {
  content: '\a';
  white-space: pre; 
}
nav {
  font-size: 1rem;
}
