body {
  background: #333;
}
#page-wrap:after {
  content: "Smartphone Layout";
  font-size: 12px;
  display: block;
  text-align: center;
}
.mobile {
  display: none !important;
}
body {
  font-size: large;
}
footer,
input {
  font-size: large;
}
footer > a {
  display: block;
  width: 100%;
  padding: 5px 0; 
}
p > strong::after {
  content: '\a';
  white-space: pre; 
}
section > div {
  padding: 5px;
  font-size: 1rem;
}
fieldset {
  width: 240px;
}
td.btn {
  width: 40px;
}
td.btn .btn-sm {
 width: 30px;
}
#comentarios {
  width: 100%;
}
#comentarios > ol > li {
  padding: 5px;
}
#btn-publish {
  width: 30px; 
}