* {
  margin: 0;
  padding: 0;
}
body {
  font: 16px Georgia, serif;
}
#page-wrap {
  margin: 2% auto;
  width: 98%;
  color: white;
}
#page-wrap > .main {
  border: 1px solid #999;
  padding: 1%;
  margin-bottom: 1%;
  color: black;
  border-radius: 5px;
}
section > div {
  padding: 20px;
}
header,
nav,
section,
footer {
  background: #eee;
  text-align: center;
  box-shadow: 0 0 5px #333;
}
a {
  
  text-decoration:none;  
}
a:hover {
  color: #BBD43D;
}
h1, h2, h3, h4, h5, h6 {
  text-shadow: 0 1px 1px #555;
  margin: 10px 0;
}
.bien {
  color: green;
  font-size: 1.5em;
  font-weight: bold;
}
.mal {
  color: red;
  font-size: 1.5em;
  font-weight: bold;
}
p {
  padding:10px 0 20px 0;
}
#ErrorMsgs {
  color: #f61;
  font-size: smaller;
}
/* --- Nav --- */
nav {
  padding: 0px !important;
  background: #091E33;
}
nav > ul {
  list-style-type: none;
}
nav > ul > li {
  display: inline-block;
  border-left: 2px dotted #ddf;
  width: 32.9%;
}
nav > ul > li:first-child {
  border: none;
}
nav > ul > li > a {
  color: #7BF;
  display: block;
  padding: 10px;
}
nav > ul > li > a:hover {
  background-color: #1A2F44;
  border-radius: 5px;
}

/* --- Botones --- */
input[type=submit],
input[type=button],
.boton {
  cursor: pointer;
  margin: 10px auto;
  border: 2px solid #aaf;
  background-color: #091E33;
  text-align: center;
  width: 170px;
  color: #cdf;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 1px #000;
}
input[type=submit],
input[type=button] {
  margin: 10px;
  width: 100px;
}
.boton > a {
  display: block;
  padding: 9px 0;
  color: #cdf;
  text-decoration:none;
}
input[type=submit]:hover,
input[type=button]:hover,
.boton > a:hover { 
  background: #1A2F44;
  color: #BBD43D;
}
/* --- Tablas --- */
#contTable {
  height: 172px;
  overflow: auto;
}
table {
  width: 100%;
}
tr td { 
  text-align: left;
  padding-left: 10px; 
}
tr a {
  display: block;
  padding: 5px 10px;
}

tr:nth-child(even) a {
  background-color: #99A;
  color: #222;
}
tr:nth-child(odd) a {
  background-color: #445;
  color: #EEE;
}
tr a:hover {
  color: #CCE54E;
  opacity: 0.9;
}

a.btn {
  padding: 0;
  display: initial;
  background-color: initial;
}
a.btn > input {
  margin: 0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
/* --- Footer --- */
footer > a {
  color: #37B;
  display: inline-block;
  width: 35%;
}
/* --- Fieldset --- */
fieldset {
  width: 400px;
  margin: auto;
  border-radius: 10px;
}
legend {
  margin-left: 5%;
  padding: 0 15px 6px 15px;
  font-size: 0.9rem;
  font-weight: bold;
  font-family: verdana, sans-serif;
}
.campo > label {
  display: inline-block;
  text-align: left;
  width: 120px;
}
