* {
  margin: 0;
  padding: 0;
}
body {
  font: 16px Georgia, serif;
}
#page-wrap {
  margin: 2% auto;
  width: 98%;
  color: white;
}
#page-wrap > .main {
  border: 1px solid #999;
  padding: 1%;
  margin-bottom: 1%;
  color: black;
  border-radius: 5px;
}
section > div {
  padding: 20px;
}
header,
nav,
section,
footer {
  background: #eee;
  text-align: center;
  box-shadow: 0 0 5px #333;
}
a {
  text-decoration:none;  
}
a:hover {
  color: #BBD43D;
}
h1, h2, h3, h4, h5, h6 {
  text-shadow: 0 1px 1px #555;
  margin: 10px 0;
}
.bien {
  color: green;
  font-size: 1.5em;
  font-weight: bold;
}
.mal {
  color: red;
  font-size: 1.5em;
  font-weight: bold;
}
p {
  padding:10px 0 20px 0;
}
#ErrorMsgs {
  color: #f61;
  font-size: smaller;
}
.right {
  float: right;
}
/* --- Nav --- */
nav {
  padding: 0px !important;
  background: #091E33;
}
nav > ul {
  list-style-type: none;
}
nav > ul > li {
  display: inline-block;
  border-left: 2px dotted #ddf;
  width: 32.9%;
}
nav > ul > li:first-child {
  border: none;
}
nav > ul > li > a {
  color: #7BF;
  display: block;
  padding: 10px;
}
nav > ul > li > a:hover {
  background-color: #1A2F44;
  border-radius: 5px;
}

/* --- Botones --- */
button {
  cursor: pointer;
  padding: 0;
  margin: 5px;
  border: 2px solid #aaf;
  background-color: #091E33;
  text-align: center;
  color: #cdf;
  border-radius: 4px;
}
button:hover {
  background: #1A2F44;
  color: #BBD43D;
}
.btn-sm {
  width: 90px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.btn-lg {
  font-size: 1.1em;
  width: 170px;
  height: 50px;
  box-shadow: 2px 2px 7px rgba(0,0,0,0.5);
  margin: 10px auto 5px auto;
}
/* --- Tablas --- */
#contTable {
  height: 175px;
  overflow: auto;
  margin-top: 10px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
tr {
  border: 2px solid #EEEEEE;
}
tr > td { 
  text-align: left;
}
td.btn {
  width: 100px;
}
tr > td.datos > a {
  display: block;
  padding: 7px 10px;
  color: inherit;
}
tr:nth-child(even) > td.datos {
  background-color: #99A;
  color: #222;
}
tr:nth-child(odd) > td.datos {
  background-color: #445;
  color: #EEE;
}
tr > td:first-child > a:hover {
  color: #CCE54E;
}
/* --- Footer --- */
footer > a {
  color: #37B;
  display: inline-block;
  width: 35%;
}
/* --- Fieldset --- */
fieldset {
  width: 400px;
  margin: auto;
  border-radius: 10px;
  padding: 10px;
}
legend {
  margin-left: 5%;
  padding: 0 15px 6px 15px;
  font-size: 0.9rem;
  font-weight: bold;
  font-family: verdana, sans-serif;
}
.campo > label {
  display: inline-block;
  text-align: left;
  width: 120px;
}
.campo > input {
  width: 200px;
  padding: 3px;
}
.campo > select {
  width: 210px;
  padding: 2px;
}
.campo > input:valid,
.campo > select:valid {
  background-color: #efe;
  border: 2px solid #080;
  box-shadow: 2px 2px 5px rgba(100,200,100,0.5);
}
.campo > input:invalid,
.campo > select:invalid {
  background-color: #fee;
  border: 2px solid #800;
  box-shadow: 2px 2px 7px rgba(200,100,100,0.5);
}
/* --- Div con comentarios --- */
#comentarios {
  width: 90%;
  height: 90px;
  margin: auto;
  overflow: auto;
  text-align: left
}
#comentarios > ol {
  list-style-position: inside;
}
#comentarios > ol > li {
  padding: 5px 20px;
}
#comentarios > ol > li:nth-child(even) {
  background-color: #99A;
  color: #222;
}
#comentarios > ol > li:nth-child(odd) {
  background-color: #445;
  color: #EEE;
}
