body { 
  background: #999;
}
#page-wrap:after { 
  content: "Wide Layout";
  font-size: 12px;
  display: block;
  text-align: center;
}
/* --- NAV --- */
nav {
  float: left;
  width: 15%;
  height: 315px;
}
nav > ul {
  width: 90%;
  margin: 10px auto;
  border: 1px solid #aaf;
  border-radius: 5px;
}
nav > ul > li {
  border: none;
  border-top: 1px solid #aaf;
  display: block;
  width: 100%;
}
nav > ul > li > a {
  padding: 20px 0;
}
/* --- SECTION --- */
section {
  padding: 0 !important;
  float: right;
  width: 83%;
  height: 315px;
}
/* --- FOOTER --- */
footer {
  clear: both;
  display: block;
}
