<p class="campo">
  <label for="preg" class="mobile">Pregunta:</label>
  <input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>" placeholder="Pregunta" autofocus/>
</p>
<p class="campo">
  <label for="resp" class="mobile">Respuesta:</label>
  <input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>" placeholder="Respuesta"/>
</p>
<button type="button" onclick="location.href='/quizzes';" class="btn-sm">Cancelar</button>
<button type="submit" class="btn-sm">Guardar</button>
