<p class="campo">
  <label for="preg" class="mobile">Pregunta:</label>
  <input type="text" id="preg" name="quiz[pregunta]" placeholder="<%= quiz.pregunta %>" />
</p>
<p class="campo">
  <label for="resp" class="mobile">Respuesta:</label>
  <input type="text" id="resp" name="quiz[respuesta]" placeholder="<%= quiz.respuesta %>" />
</p>
<a href="/quizzes"><input type="button" value="Cancelar"/></a>
<input type="submit" value="Guardar"/>
