<p class="campo">
  <label for="preg" class="mobile">Pregunta:</label>
  <input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>" placeholder="Pregunta" autofocus/>
</p>
<p class="campo">
  <label for="resp" class="mobile">Respuesta:</label>
  <input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>" placeholder="Respuesta"/>
</p>
<a href="/quizzes" class="btn"><input type="button" value="Cancelar"/></a>
<input type="submit" value="Guardar"/>
