<form method="get" action="/quizzes/<%= quiz.id %>/answer">
  <p><strong>Pregunta:</strong> <%= quiz.pregunta %></p>
  <input type="text" name="respuesta" placeholder="Responda aquí" />
  <button type="submit" class="btn-sm">Enviar</button>
</form>
