<h2>Login</h2>
<form method="POST" action="/login">
  <p class="campo">
    <label for="login" class="mobile">Usuario:</label>
    <input type="text" id="login" name="login" placeholder="Usuario" size="30" autofocus required/>
  </p>
  <p class="campo">
    <label for="password" class="mobile">Contraseña:</label>
    <input type="password" id="password" name="password" placeholder="Contraseña" size="30" required/>
  </p>
  <button name="commit" type="submit" class="btn-sm">Entrar</button>
</form>